<div class="row pt-4">
    <div class="col-md-6 offset-md-3">
        <div class="card card-body">
            <h2>Video Ideas</h2>
            <form action="/add" method="POST">
                <div class="form-group">
                    <label for="">Title:</label>
                    <input type="text" name="title" id="title">
                </div>
            </form>
        </div>
    </div>
</div>